.primaryHeader {
  padding: 45px 16px;
  position: relative;
}
.primaryNavBar {
  display: flex;
}
.primaryNavBar .navItems {
  display: flex;
  align-items: center;
  width: 100%;
}
.primaryNavBar .searchBarWrapper {
  width: 35%;
  margin: auto;
}
.primaryNavBar .navItems {
  list-style-type: none;
  li {
    margin: 0 10px;
  }
}
.primaryNavBar a {
  font-size: 1.15rem;
  &:hover {
    color: var(--accent-secondary);
  }
}

.primaryNavBar .hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .primaryHeader {
    padding: 16px;
  }
  .primaryNavBar {
    justify-content: space-between;
  }
  .primaryNavBar .hamburger {
    display: block;
  }
  .primaryNavBar .navItems {
    position: absolute;

    width: 0;
    height: 0px;
    transition: all 0.3s ease-in-out;
    top: 203px;
    right: 0;
    flex-direction: column;
    li {
      display: none;
    }
  }
  .primaryNavBar .navItems.active {
    width: 400px;
    height: calc(100vh - 80px);
    list-style-type: none;
    background-color: var(--background);
    li {
      display: block;
      font-size: 20px;
      margin: 15px;
    }
    .searchBarWrapper {
      margin: 15px;
      width: 100%;
    }
  }
}
