.primaryHeader {
  padding: 16px;
}

.primaryNavBar {
  display: grid;
  grid-template-columns: auto 1fr auto; // left, center, right
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;

  .logo {
    justify-self: start;
  }

  .searchBarWrapper {
    justify-self: center;
    width: 100%;
    max-width: 600px;
  }

  .navLinks {
    justify-self: end;
    display: flex;
    gap: 1.5rem;
  }

  a {
    font-size: 1.15rem;
    &:hover {
      color: var(--accent-secondary);
    }
  }
}
.mobileSidebar {
  display: none;
}
.primaryHeader .hamburger {
  display: none; // hidden on desktop
}
@media (max-width: 768px) {
  .primaryNavBar {
    grid-template-columns: 80px 1fr 50px;

    .navLinks {
      display: none;
    }
  }
  .primaryHeader .hamburger {
    display: block;
    justify-self: end;
  }
  .mobileSidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--background);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    &.open {
      transform: translateX(0%);
    }
  }
}
