.primaryHeader {
  padding: 45px 16px;
  position: relative;
}
.primaryNavBar {
  display: flex;
}
.primaryNavBar .navItems {
  display: flex;
  align-items: center;
  width: 100%;
}
.primaryNavBar .searchBarWrapper {
  width: 35%;
  margin: auto;
}
.primaryNavBar .navItems {
  list-style-type: none;
  li {
    margin: 0 10px;
  }
}
.primaryNavBar a {
  font-size: 1.15rem;
  &:hover {
    color: var(--accent-secondary);
  }
}

.primaryNavBar .hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .primaryHeader {
    padding: 16px;
  }
  .primaryNavBar {
    justify-content: space-between;
    align-items: center;
  }
  .primaryNavBar .hamburger {
    display: flex;
    flex-direction: column;
    span {
      display: inline-block;
      height: 4px;
      width: 32px;
      background-color: var(--btn-primary-text);
      margin: 4px 0;
      transition: all 0.3s ease-out;
    }
  }
  .primaryNavBar .navItems {
    position: absolute;
    width: 400px;
    height: calc(100vh - 138px);
    transition: all 0.3s ease-in-out;
    top: 114px;
    right: -100vw;
    flex-direction: column;
    li {
      display: none;
    }
    border: 1px solid var(--btn-primary-text);
    padding: 12px;
  }
  .primaryNavBar .navItems.active {
    right: 0;
    list-style-type: none;
    background-color: var(--background);
    li {
      display: block;
      font-size: 20px;
      margin: 15px;
    }
    .searchBarWrapper {
      margin: 15px;
      width: 100%;
    }
    + .hamburger {
      span:first-child {
        transform: rotate(45deg) translateY(10px);
      }
      span:nth-child(2) {
        transform: rotate(-45deg) translateY(-9px);
      }
      span:last-child {
        opacity: 0;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .primaryNavBar .navItems {
    width: 300;
  }
}
