.searchBar {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1.15rem;
  border: 1px solid var(--accent-primary);
  outline: none;
  &::placeholder {
    color: var(--highlight);
  }
  &:focus {
    outline: 2px solid var(--foreground);
  }
}
